<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<head>

</head>
<body>
	<div class="main-body" layout:fragment="content">
       <div class="page-body">
           <div class="row">
               <div class="col-md-12 mb-2">
                   <div class="page-header-breadcrumb">
                       <ul class="breadcrumb-title">
                           <li class="breadcrumb-item"><a th:href="@{#}"> <i
                                       class="feather icon-home"></i> Trang chủ
                               </a></li>
                           <li class="breadcrumb-item"><a th:href="@{#}">Cập nhật sự kiện</a></li>
                       </ul>
                   </div>
               </div>
               <div class="col-sm-12">
                   <div class="card">
                       <div class="card-header">
                           <h2 class="text-uppercase text-center">Cập nhật sự kiện</h2>
                       </div>
                       <div class="card-block">
                           <form th:action="@{/admin/event/edit}" method="post" th:object="${event}" enctype="multipart/form-data">
                           <p class="text-center text-danger" th:text="${message}"></p>
                               <div class="row">
                                   <div class="col-md-6">
                                   <input type="hidden" th:field="*{id}" class="form-control" />
                                   <input type="hidden" th:field="*{userId}" class="form-control" />
                                       <div class="form-group">
                                           <label>Tên sự kiện</label>
                                           <input type="text" th:field="*{title}" class="form-control" />
                                       </div>
                                       <div class="form-group">
                                           <label>Loại sự kiện</label>
                                           <select class="form-control" th:field="*{serviceId}">
                                               		<option th:each="item : ${services}"  th:value="${item.id}" th:utext="${item.name}"></option>
                                           </select>
                                       </div>
                                       <!-- 
                                       	<div class="form-group">
                                           <label>Khách hàng</label>
                                           <select class="form-control" th:field="*{customerId}">
                                               		<option th:each="item : ${customers}"  th:value="${item.id}" th:utext="${item.name}"></option>
                                           </select>
                                       </div>
                                        -->
                                       
						                
	                                      <div class="form-group">
	                                           <label>Địa điểm tổ chức</label>
	                                           <input type="text" th:field="*{address}" class="form-control" />
	                                      </div>
	                                       
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
						                    <label class="control-label">Ngày bắt đầu</label>
						                    <input data-format="dd/MM/yyyy" type="date"
						                    th:field="*{startdate}" class="form-control"/>
						                 </div>
						                 <div class="form-group">
						                    <label class="control-label">Ngày kết thúc</label>
						                    <input data-format="dd/MM/yyyy" type="date" 
						                    th:field="*{enddate}" class="form-control"/>
						                 </div>
						                 <div class="form-group">
						                    <label class="control-label">Thời gian</label>
						                    <input data-format="dd/MM/yyyy" type="time"  
						                    th:field="*{starttime}" class="form-control"/>
						                 </div>
                                       	<!-- 
                                       		<div class="form-group">
	                                           <label>Giá</label>
	                                           <input type="text" th:field="*{price}" class="form-control" />
	                                      </div>
	                                      <div class="form-group">
	                                           <label>Số người tham dự</label>
	                                           <input type="text" th:field="*{viewer}" class="form-control" />
	                                      </div>
                                       	 -->
                                       
                                       
                                   </div>
                                   <div class="col-12 mt-3">
                                       <div class="form-group">
					                    	<label class="control-label">Banner</label>
					                    	<br/>
					                    	<img th:if="*{banner}!= null " th:src="'/upload/'+*{banner}" width="250px" height="200px"/>
					                    	<input id="input-b3" name="file" type="file" class="file" multiple 
    										data-show-upload="false" data-show-caption="true" data-msg-placeholder="Select {files} for upload...">	
					                  	</div>
                                   </div>
                                   <div class="col-12 mt-3">
                                       <div class="form-group">
					                    	<label class="control-label">Mô tả</label>
					                    	<textarea th:type="text" rows="4" class="form-control"
                              			th:field="*{description}" autocomplete="off"></textarea></div>
                                   </div>
                                   <div class="col-12 mt-3">
                                       <div class="form-group">
					                    	<label class="control-label">Nội dung</label>
					                    	<textarea th:type="text" rows="4" id="summernote" placeholder="Content" class="form-control"
                              			th:field="*{content}" autocomplete="off"></textarea></div>
                                   </div>
                                   <div class="col-12 mt-3">
                                       <div class="form-group">
                                           <button type="submit" class="btn btn-primary m-b-0">Lưu lại</button>
                                           <a th:href="@{/admin/event}" class="btn btn-secondary text-white">Quay lại</a>
                                       </div>
                                   </div>
                               </div>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</body>
</html>